{% extends "AppBundle::base.html.twig" %}

{% block title %}AppBundle:Catalog:index{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h3>{{ category.name }}</h3>
            </div>
        </div>
    </div>

    {% if products %}
        <div class="row">
            <div class="col-md-12">
                <table class="bordered">
                    <tbody>
                    {% for product in products %}
                        <tr class="row">
                            <td class="col-md-3">
                                {#<img width="100%" src="/assets/images/products/{{ product.sku }}.jpg">#}
                            </td>
                            <td class="col-md-6">
                                <h4>{{ product.name }}</h4>
                                <p>{{ product.description|nl2br }}</p>
                            </td>
                            <td class="col-md-2 center-align red-text">
                                {% if product.promotion > 0 %}
                                <h5 style="text-decoration: line-through;">{{ product.price }} &euro;</h5>
                                <p>-{{ product.promotion }}%</p>
                                <h4>
                                    {{ product.price - (product.price * product.promotion / 100) }} &euro;</h4>
                                {% else %}
                                <h4>{{ product.price }} &euro;</h4>
                                {% endif %}
                            </td>
                            <td class="col-md-1 center-align">
                                <h5>
                                    {{ (product.stock == 0) ? '<i class="mdi mdi-36px mdi-cart-off"></i>' : '<i onclick="addToCart(#{product.id})" class="mdi mdi-36px mdi-cart-plus"></i>' }}
                                </h5>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h3>Aucun produit trouvé</h3>
    {% endif %}
{% endblock %}
